<h1>List of current messages:</h1>

<table>
	
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
  </tr>

<% @messages.each do |message| %>

<tr>
      <td><%= message.title %></td>
      <td><%= message.description %></td>
      <td><%= image_tag message.image.url(:thumb), class:'uploaded-pic' %></td>
</tr>

<% end %>

</table>

<%= link_to "New message", new_message_path %>